{% extends 'curators/base.html' %}
{% block content %}

<h1>{{ curator.user.username }}</h1>
<table class='table table-striped table-bordered table-hover'>

<tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Second Name</th>	
    <th># of Tribe Memberships</th>
    <th>Tribes</th>	
  </tr>
  <tr>
    <td>{{curator.id}}</td>
    <td>{{curator.user.first_name}}</td>
    <td>{{curator.user.last_name}}</td>
    <td>{{curator.tribe_set.count}}</td>		
    <td>{% for tribe in curator.tribe_set.all %} 
    <li><a href="{% url 'tribedetail' tribe.id %}">{{tribe}}</a></li>
    {% endfor %}
    </td>
  </tr>
</table>
{% endblock content %}