{% extends 'curators/base.html' %}

{% block content %}
Newest user:
{% if newest.user.first_name %}
	<i>{{newest.user.id}} <a href="{% url 'curatordetail' newest.id%}">{{newest.user.first_name}}</i></a>
{% else %}
	Username: {{newest.user.username}}
{% endif %}

{% endblock content %}