{% extends 'curators/base.html' %}
{% block content %}

<table class='table table-striped table-bordered table-hover'>

<tr>
    <th>ID</th>
    <th>Username</th>	
    <th># of Tribe Memberships</th>
    <th>First Tribe</th>	
  </tr>
  <tr>
  {% for curator in curator_list %}  
    <td>{{curator.id}}</td>
    <td><a href="{% url 'curatordetail' curator.id %}">{{ curator.user.username }}</a></td>
    <td>{{curator.tribe_set.count}}</td>		
    <td><a href="{% url 'tribedetail' curator.tribe_set.first.id %}">{{curator.tribe_set.first}}</a></td>		
  </tr>
{% endfor %}
</table>

{% endblock content %}
