{% extends 'tribes/base.html' %}
{% block content %}

<h1>{{ tribe.name }}</h1>
<table class='table table-striped table-bordered table-hover'>

<tr>
    <th>ID</th>
    <th>Members</th>
  </tr>
  <tr>
    <td>{{tribe.id}}</td>
    <td>{% for member in tribe.members.all %} 
    <li>
    <a href="{% url 'curatordetail' member.id %}">
    {{member}} </a></li>
    {% endfor %}</td>		
  </tr>
</table>
{% endblock content %}