{% extends 'tribes/base.html' %}
{% block content %}

<table class='table table-striped table-bordered table-hover'>
<tr>
    <th>ID</th>
    <th>Tribe Name</th>	
    <th>Member count</th>
    
  </tr>
  <tr>
  {% for tribe in tribe_list %}  
    <td>{{tribe.id}}</td>
    <td><a href="{% url 'tribedetail' tribe.id %}">{{ tribe.name }}</a></td>
    <td>{{tribe.members.count}}</td>
  </tr>
{% endfor %}
</table>

{% endblock content %}
